<p id="notice"><%= notice %></p>

<h1>Draft Pics</h1>

<table>
  <thead>
    <tr>
      <th>Pic file</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @draft_pics.each do |draft_pic| %>
      <tr>
        <td><%= draft_pic.pic_file %></td>
        <td><%= link_to 'Show', draft_pic %></td>
        <td><%= link_to 'Edit', edit_draft_pic_path(draft_pic) %></td>
        <td><%= link_to 'Destroy', draft_pic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Draft Pic', new_draft_pic_path %>
